img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.tech {
    display: flex;

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image {
            width: 100px;
            height: 100px;
        }
    }
}