@import "../assets/css/global.scss";

#what-did-i-create {
    background-color: $black-bg;
    color: $white;
    position: relative;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        width: 100%;

        p {
            text-align: center;

        }

        a {
            color: $blue;
        }
    }

    .project-flex {
        width: 100%;
    }

    .project {
        margin-top: 5rem;
        display: flex;
        align-items: center;

        @media (max-width: $lg) {
            margin-top: 3rem;
        }

        @media (max-width: $lg) {
            flex-direction: column;
        }

        .card-header {
            display: flex;

            @media (max-width: $lg) {
                justify-content: center;
            }

            a {
                font-size: 1.2em;
                color: $blue;
                margin: .4rem 0 0 1rem;

                @media (max-width: $lg) {
                    margin: .2rem 0 0 1rem;
                }
            }
        }

        .info,
        .image {
            flex: 1;
        }

        .info {
            margin-right: 2rem;

            @media (max-width: $lg) {
                margin: 0 0 1.5rem;
            }
        }

        .image {
            width: 100%;
            box-shadow: 0 0 25px -5px rgba($blue, 0.1), 0 0 6px 2px rgba($blue, 0.06);
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @media (max-width: $lg) {
                flex-direction: column;
            }

            .info {
                margin: 0 0 0 2rem;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                @media (max-width: $lg) {
                    margin: 0 0 1.5rem;
                    align-items: center;
                }
            }

            .project-desc {
                text-align: right;

                @media (max-width: $lg) {
                    text-align: center;
                }
            }
        }

        .project-desc {
            @media (max-width: $lg) {
                text-align: center;
            }
        }

        .tech-flex {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1.5rem;

            @media (max-width: $lg) {
                justify-content: center;
            }
        }

        .tech {
            color: $card-text;
            font-size: 16px;

            &:not(:first-child) {
                margin-left: 1rem;
            }

            @media (max-width: $lg) {
                margin: 0 .75rem .25rem;
            }
        }

        .image {
            border-radius: 1rem;
            overflow: hidden;
        }
    }
}