@import "../assets/css/global.scss";

#who-i-am {
    color: $white;
    padding: 0;

    .content-wrapper {
        position: relative;
        background-color: $black-bg;
        padding: 5rem 0 19rem;

        @media (max-width: $lg) {
            padding: 3rem 0 19rem;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        width: 100%;

        p {
            text-align: center;
        }
    }

    .flex-cards {
        display: flex;
        overflow: hidden;
        border-radius: 1rem;
        position: relative;

        @media (max-width: $lg) {
            flex-direction: column;
        }

        &::after,
        &::before {
            @include pseudo-elem;
            background-color: $dark;
            height: 1.5rem;
            width: 80%;

            @media (max-width: $lg) {
                width: 1.5rem;
                height: 80%;
            }
        }

        &::after {
            top: unset;
            bottom: 0;

            @media (max-width: $lg) {
                left: unset;
                right: 0;
            }
        }

    }

    .card {
        background-color: $dark;
        padding: 2rem 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;

        @media (max-width: $lg) {
            padding: 2rem;
        }

        &:last-child {
            border-left: 1px solid $border-grey;

            @media (max-width: $lg) {
                border-left: none;
                border-top: 1px solid $border-grey;
            }
        }

        &:first-child {
            border-right: 1px solid $border-grey;

            @media (max-width: $lg) {
                border-right: none;
                border-bottom: 1px solid $border-grey;
            }
        }

        .title-3,
        .desc {
            text-align: center;
        }

        .icon {
            height: 60px;
            margin-bottom: 1rem;
        }

        .title-3 {
            @media (max-width: $lg) {
                margin-bottom: .5rem;
            }
        }
    }

    .card-wrapper {
        margin: -13rem auto 0;

        @media (max-width: $lg) {
            margin-top: -16rem;
        }
    }
}